NET "display[6]" LOC = L14;
NET "display[5]" LOC = H12;
NET "display[4]" LOC = N14;
NET "display[3]" LOC = N11;
NET "display[2]" LOC = P12;
NET "display[1]" LOC = L13;
NET "display[0]" LOC = M12;
NET "segment[3]" LOC = K14;
NET "segment[2]" LOC = M13;
NET "segment[1]" LOC = J12;
NET "segment[0]" LOC = F12;
NET "Vcc_out"LOC = N13;
NET "Clk_sys" LOC = B8;
NET "days[0]" LOC = G1;
NET "days[1]" LOC = P4;
NET "days[2]" LOC = N4;
NET "days[3]" LOC = N5;
NET "days[4]" LOC = P6;
NET "days[5]" LOC = P7;
NET "days[6]" LOC = M11;
NET "Next" LOC = A7;
NET "Up" LOC = M4;
NET "SetTime" LOC = C11;
NET "SetAlarm" LOC = G12;
NET "Snooze" LOC = N3;
NET "Stop" LOC = E2;
NET "Mute" LOC = F3;
NET "Clr" LOC = P11;
NET "Sound" LOC = D12;
NET "am" LOC = M5;